body {
    background-image: url("../image/bg.jpg");
    object-fit: contain;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

button {
    color: rgb(94, 108, 172);
    background-color: #8a96b1;
    padding: 5px 5px;
    margin-top: 10px;
    border-top: 20px;
    text-align: center;
    font-size: 10px;
}

button a {
    color: beige; 
    text-decoration: none; 
    display: block;
}

section {
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p {
    text-indent: 5px;
    text-align: center;
    color: rgb(33, 31, 29);
    font-weight: bold;
    font-family: Cambria;
    margin: 20px;
    background-color: rgb(205, 205, 222);
}

.s1 {
    
    padding: 20px;
    margin-bottom: 20px;
    width: 90%;
   
   
}
.nav-container {
    width: 550px;  
    height: 60px;  
    background-color:transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px; 
    border-radius: 10px; 
}

nav a{
    margin-right: 20px;
    margin-left: 20px;
    color: aliceblue;font-size: 20px;
}
blockquote{
    color: azure;
}
address{
    color: aliceblue;
}
h2{
    color: aliceblue;
}
span{
    color: rgb(201, 106, 190);
}